</main>

<footer class="admin-footer mt-auto">
    <div class="container text-center small text-muted">
        <div><img src="/images/CSUMB.png" alt="CSUMB Logo" width="100px" height="50px"></div>
        <small>CST336 Internet Programming. &copy; 2025 | Final Practice | Built by Mohammed Nasr. All Rights
            Reserved.<br></small>
        <small><a href="https://www.npmjs.com/package/express" target="_blank">Express npm | </a></small>
        <small><a href="https://www.npmjs.com/package/node-fetch" target="_blank">Fetch npm | </a></small>
        <small><a href="https://www.npmjs.com/package/mysql2" target="_blank">MySQL2 npm | </a></small>
        <small><a href="https://www.npmjs.com/package/dotenv" target="_blank">Dotenv npm | </a></small>
        <small><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Bootstrap |
            </a></small>
        <small><a href="https://csumb.space/cst/336/final/comics/directions.html" target="_blank">CST336 Final Exam
                PRACTICE | </a></small>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
</script>

<script src="/js/script.js"></script>
</body>

</html>