<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Comics App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header class="navBar">
        <div class="navBrand">
            <a href="/">My Favorite Comics</a>
        </div>
        <nav class="navLinks">
            <a href="/" class="navLink">Home</a>
            <a href="/addComic" class="navLink">Add Comic</a>
        </nav>
    </header>

    <main class="mainContent">