<%- include("partials/header") %>

    <h1 class="pageTitle">Add Comic</h1>
    <h2 class="mainTitle">New Comic</h2>

    <form action="/addComic" method="POST" class="formCenter">
        <label>Title:<br>
            <input type="text" name="title" required>
        </label><br><br>

        <label>URL:<br>
            <input type="text" name="url" required>
        </label><br><br>

        <label>Publish Date:<br>
            <input type="date" name="publishDate" required>
        </label><br><br>

        <label>Web Site:
            <select name="site_id">
                <% sites.forEach(site=> { %>
                    <option value="<%= site.comicSiteId %>">
                        <%= site.comicSiteName %>
                    </option>
                    <% }) %>
            </select>
        </label><br><br>

        <button class="btn green" type="submit">Submit New Comic</button>
    </form>

    <%- include("partials/footer") %>