<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<body>

    <nav>Home Page</nav>

    <h1>My Favorite Comics</h1>

    <img src="<%= randomComic[0].comicUrl%>" width="800"><br>

    <button>Add Comic</button><br>

    <button>Display Random Comic</button>

    
    
</body>

<%- include("partials/footer.ejs") %>